     .morphing-btn-wrap {
  display: inline-block;
  position: relative;
  text-align: center;
}
.morphing-btn {
  -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  transition: color 0.3s 0.2s, width 0.2s 0s;
  white-space: nowrap;
  box-sizing: border-box;
}
.morphing-btn_circle {
  color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  width: 35.6px !important;
  /* Override inline style rule */
  -webkit-transition: color 0.2s 0s, width .3s 0.2s;
  -moz-transition: color 0.2s 0s, width .3s 0.2s;
  -o-transition: color 0.2s 0s, width .3s 0.2s;
  transition: color 0.2s 0s, width .3s 0.2s;
}
.morphing-btn-clone {
  position: fixed;
  background: url('../images/1/hero-bg.png');
  border-radius: 50%;
  z-index: 3;
  -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.morphing-btn-clone_visible {
  display: block;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}
.fancybox-morphing .fancybox-bg {
    background: url(../images/1/hero-bg.png);
    opacity: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.fancybox-toolbar{
	opacity:1 !important;
	visibility: visible !important;
}
.fancybox-morphing .fancybox-toolbar {
  top: 20px;
  right: 40px;
}
.fancybox-morphing .fancybox-button--close {
    border-radius: 0;
    color: #ffffff;
	background-color: transparent;
    padding-left: 62px;
    width: 100px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    height: 30px;
}
.fancybox-morphing .fancybox-button--close::after,
.fancybox-morphing .fancybox-button--close::before {
    height: 1.55px;
    width: 22px;
    left: calc(50% - 11px);
}
.fancybox-morphing .fancybox-button--close:hover {
  /* background: rgba(0, 0, 0, 0.25); */
}

#sign-up td
{
    color: #FFF;
}

/* Styling for element used in example */
.morphing-content
{
  margin: 0;
  position: relative;
  background: transparent;
  color: #FFF;
  padding: 6em 10vw;
  line-height: 2;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.morphing-content a {
  color: #fff;
}
.hidden{
	display:none;
}
/* iframe {
  border: 1px solid #ccc;
  width: 80vw;
  height: calc(100vh - 100px);
} */
iframe {
    border: 2px solid #000;
    max-width: 100%;
}
a {
  color: #FF6666;
  cursor: pointer;
}
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
  text-decoration: none;
  border: 0 none;
}
.btn {
  /* background: #FF6666; */
  border-width: 0;
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  line-height: 1.5;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80%;
  font-weight: 700;
  margin: 5px 5px 5px 0;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover, .btn:focus {
  color: #fff;
}
.imglist a {
  display: inline-block;
}
.imglist img {
  height: 160px;
  margin-bottom: 4px;
}
.tright {
  text-align: right;
}
.tright .btn {
  margin-left: 10px;
}
.hidden {
  display: none;
}
.grid {
  float: left;
  width: 30%;
  padding: 20px;
  /* background: #eee; */
  margin: 0 20px 20px 0;
}
